on:
  workflow_run:
    workflows: "R-CMD-check.yaml"
    types: completed
    branches: [main, master]

name: pkgcheck.yaml
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  pkgcheck:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Check if all workflows succeeded
        run: |
          if [ "${{ github.event.workflow_run.conclusion }}" != "success" ]; then
            echo "Previous workflow failed"

            exit 1
          fi
        shell: bash

      - name: Check package with rOpenSci's pkgcheck system
        uses: ropensci-review-tools/pkgcheck-action@main
        with:
          post-to-issue: false
